body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://wallpapers.com/images/hd/cute-music-icons-abstract-doodle-ahxf8i16dgcm3rrr.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 500px;
    opacity: 0.9;
    /* Lower the opacity */
}

h1 {
    color: #333;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #af4caf;
    color: white;
    border-radius: 5px;
    opacity: 1;
    /* Set button opacity to 100% */
}

.custom-file-upload:hover {
    background-color: #59125a;
}

button {
    background-color: #af4caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    opacity: 1;
    /* Set button opacity to 100% */
}

button:hover {
    background-color: #59125a;
}

.loading-spinner {
    display: none;
    margin-top: 20px;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

ul {
    list-style-type: none;
    /* Remove list dots */
    padding: 0;
}
